.top{
    font-size: 50px;
    padding: 10px;
    text-align: center;
    border-bottom: 5px solid #4c4f55;
    padding: auto;
}

.more{
    font-size: 25px;
    text-indent: 35px;
    word-spacing: 2px;
    text-align: start;
}