.top{
    font-size: 50px;
    padding: 10px;
    text-align: center;
}


.view1{
    font-size: 18px;
    text-indent: 35px;
    word-spacing: 2px;
    text-align: start;
}

.view2{
    font-size: 18px;
    text-indent: 35px;
    word-spacing: 2px;
    text-align: justify;
    padding: auto;
}

.bor1{
    border-bottom: 5px solid #4c4f55;
    border-top: 5px solid #4c4f55;
    padding: 10px;
    text-align: justify;
}

.inbor{
    text-align: center;
    border: 2px solid gray;
    border-radius: 5px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.clearfix::after{
    content: " ";
    clear: both;
    display: table;
}

.img{
    width: 160px;
    height: 140px;
    margin-left: 15px;
    border-radius: 15px;
    float: left;
}