.setarea{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.setarea img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}